{{ define "partials_index_left" }}
<h3 class="underline" id="current-projects">Current projects</h3>

<ul>
    <li>
        <a href="https://github.com/marcoslar/belbo">Belbo</a> - A static site generator
    </li>
    <li>
        <span>S4H - Sessions for hackers (WIP)</span>
    </li>
</ul>

<p>
    More at <a href="https://github.com/marcoslar/">github.com</a>.
</p>

<h3 class="underline" id="writing-and-presentations">Presentations and talks</h3>

<ul>
    <li>
        <a href="">Reproducing cloud</a> environments with Vagrant
    </li>
    <li>
        <a href="/static/talks/hardening-ssh/">Hardening SSH</a> 101
    </li>
    <li>
        <a href="/">Build a simple static site generator</a> in less than 200 LOC
    </li>
</ul>

<h3 class="underline">
    <a href="/gists/">Gists</a>
</h3>

<p>
    Or, why not, you could also check out what I'm doing right
    <a href="/now">now</a>,
    my current <a href="/setup">setup</a>,
    or follow the <a href="/log">log</a>.
</p>
{{ end }}
