{{ define "partials_nav" }}
<section class="bulletless">
    <section>
        <h3>About(s)</h3>
        <ul>
            <li><a href="/about/">Me</a></li>
            <li><a href="/setup/">Setup</a></li>
        </ul>
    </section>

    <section>
        <h3>Blog</h3>
        <ul class="capitalize">
            <li><a href="/sessions/">Sessions</a></li>
            <li><a href="/log/">Log</a></li>
            <li><a href="/now/">Now!</a></li>
        </ul>
    </section>

    <section>
        <h3>Meta</h3>
        <ul class="capitalize">
            <li><a href="/archive/">Archive</a></li>
        </ul>
    </section>
</section>
{{ end }}
