@font-face {
    font-family:'CooperHewitt';
    src: url('/static/fonts/CooperHewitt-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

a {
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

a:hover {
    color: grey;
}

a:visited {
    color: darkgrey;
}

header {
    padding: 2rem;
    border-bottom: 1px solid #222;
}

header a:focus {
    outline: none;
}

header a:hover {
    color: transparent !important;
}

header a:visited {
    color: transparent;
}

header a {
    text-decoration: none;
}

h1 {
    font-size: 1.9rem;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'IBM Pledx Sans', sans-serif;
    font-size: 110%;
    line-height: 1.6;
}

body ul {
    padding: inherit !important;
    margin: inherit !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.main-and-nav {
    display: flex;
}

nav {
    flex: 2;
    padding: 2rem;
}

nav section ul, main ul {
    margin: 0;
    padding: 0;
}

main {
    margin: 0;
    padding: 2rem;
    flex: 8;
}

.left {
    flex: 6;
}

footer {
    padding: 1rem 2rem;
    border-top: 1px solid #222;
    font-size: 1rem !important;
}

/* Decorators */
.capitalize {
    text-transform: capitalize;
}

.bulletless li {
    list-style-type: none;
}

.post-date {
    font-family: monospace;
    font-size: 110%;
    margin-right: .5em;
}

/* Logo */
.logobox {
    background-color: black;
    color: white;
    border: 1px solid transparent;
    width: 75px;
    height: 75px;
}

.logo {
    font-family: 'CooperHewitt', monospace !important;
    font-size:.75rem;
    /**letter-spacing:-5px;*/
    padding-top:1.75rem;
    padding-left:.7rem;
}

@media screen and (max-width: 1280px) {
    .left, nav, main {
        flex: auto;
    }

    .main-and-nav {
        flex-wrap: wrap-reverse;
    }

    main {
        padding: 1.25rem;
    }

    header {
        padding: 1.25rem;
    }
}

/* Code */
pre {
    margin: 0;
    border: 1px solid #f8f8f8;
    border-radius: 3px;
}

/* Quotes */
blockquote {
    font-style: italic;
    border-left: 1px solid grey;
    padding-left: 1rem;
    margin: 0;
}

/* Theme */
@media (prefers-color-scheme: dark) {
    body {
        background: black;
        color: white
    }

    a {
        color: white;
    }

    .logobox {
        background-color: white;
        color: black;
    }

    pre .hljs {
        background-color: black !important;
        color: white !important;
    }

    .hljs span {
        color: white !important;
    }
}