{{ define "base_layout" }}
<!DOCTYPE html>
<html lang="en">
    <head>
        {{ template "partials_head" . }}
    </head>
    <body>
        <header>
            <a href="/">
                <div class="logobox">
                    <div class="logo"><div>LESS</div><div>MARCOS</div></div>
                </div>
            </a>
        </header>
        <section class="main-and-nav">
            <nav>{{ template "partials_nav" . }}</nav>
            <main>
                {{ if (and (.Config.title) (ne .Title "Log") (ne .Title "Home") ) }}
                    <h1>{{ .Config.title }}</h1>
                {{ end }}
                {{ template "content" . }}
            </main>
            <div class="left"></div>
        </section>
        {{ template "partials_footer" . }}
        {{ template "partials_scripts" . }}
    </body>
</html>
{{ end }}
